@for $var from 1 through 12{
    .col-#{$var}{
        width: $var * 8.3333%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        }
      };

@for $var from 1 through 4{
    .mt-#{$var}{
        margin-top: $var * .24em;
            }
        };
@for $var from 1 through 4{
    .mb-#{$var}{
        margin-bottom: $var * .24em;
            }
        };

@for $var from 1 through 4{
    .mr-#{$var}{
        margin-right: $var * .24em;
            }
        };

@for $var from 1 through 4{
    .ml-#{$var}{
        margin-left: $var * .24em;
            }
        };

$headings : h1 h2 h3 h4 h5 h6;
$font-size-base : 16px;

$font-size-upper : 36px;
$font-size-dec : 4px;

@each $heading in $headings{
  #{$heading} {
    font-size : $font-size-upper;
    font-size : ($font-size-upper / $font-size-base) + em;
    font-family: $font-family-headers;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1.1;
    // letter-spacing: .1rem;
  }
  $font-size-upper : $font-size-upper - $font-size-dec;
}

span{
  line-height: 1em;
}

a{
    text-decoration: none;
    color: $text-color;
}

small{
  font-weight: 300;
  color: #565353;
  font-size: .75em;
  // display: block;
}

.w-100{
    width:100%;
}

p{
  line-height: 1.25em;
  padding: .25em 0 .25em 0;
}

strong{
    font-weight: 600;
}

$position: start, center, end, between, around;

@each $pos in $position{
  .jc-#{$pos}{
      justify-content: $pos;
    }
}

@each $pos in $position{
    .ai-#{$pos}{
        align-items: $pos;
      }
  }

body {
    font-family:$font-family-sans-serif;
    color: $text-color;
    height: 100%;
    // overflow: hidden;
}

main{
    // padding: 2em;
    // background: #f2f2f2;
}

$header-height : 4vh;

header{
    min-height: $header-height;
    background: $back-color;
    padding: 1em 0;
    box-sizing: border-box;
}

footer{
  min-height: 4em;
  background: $pink-light-color;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    // min-height: calc(100vh - 4vh);

    transition: all 1s ease-out;
}

.container-full{
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    // min-height: calc(100vh - 4vh);
}

// .container.main{
//     // background: $pink-color;
//     // width: 100%;
//     // padding: 0 2em;
//     min-height: calc(100vh - 4vh);
// }

.active{
    font-weight: 600;
}



.hide-block{
    display: none;
}

.cafe-info,
.delivery-info{
    display: none;
}

.cafe-info.show,
.delivery-info.show{
    display: block;
}



.btn{
    display: inline-block;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;


    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary{
    color: $back-color;
    background-color: rgba($pink-color, 0.8);
    border-color: rgba($pink-color, 0.8);
    box-shadow: none;
}
.btn-primary:hover{
    color: $back-color;
    background-color: $pink-color;
    border-color: $pink-color;
}
.btn-link{
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
}

.btn-link:hover{
    font-weight: 600;
    color: $pink-light-color;
    text-decoration: initial;
}

form{
    box-sizing: border-box;
    }
    input, select, textarea{
        padding: .5em .75em;
        // margin: .5em .5em 0 0;
        outline: none;
        border-radius: .25em;
        box-shadow: inset 0 0 0 transparent;
        color: $text-color;
        background-clip: padding-box;
        border: 1px solid $border-color;
        max-width: 100%;
        // transition: all 2s ease-in-out;
      }
    textarea{
    max-width: 100%;
    }
    .invalid-feedback{
        border: 1px solid $pink-color;
        padding: 1em;
    }
    .error-alert{
        background-color: $pink-light-color;
        color: $red;
    }



    .form-item{

        padding: .5em 0;
        display: flex;
        flex-direction: column;
    }
        h4{
            order: -1;
        }

        label{
            margin: .5em 0;
        }

        .border{
            // cake-size: 1px solid $border-color;
            border-radius: .5em;
            margin: 0 0 .5em 0;
            padding: .5em;
            box-sizing: border-box;
            box-shadow: 2px 2px 4px rgba($border-color, 0.5);
        }
            span{
                font-size: .8em;
            }

    // .cake-filling label.hidden-img div:last-child,
    // .cake-filling label.hidden-img img {
    //         display: none;
    //     }


    .hidden{
        // visibility: hidden;
        position: absolute;
        opacity: 0;
    }
    .cake-size{
        box-sizing: border-box;
        padding: calc(0.5em - 1px);
        padding: .75em;
        font-size: .8em;
        width: 10rem;

        ul>li{
            padding: 0.33em 0;
            width: 100%;
            font-size: .85em;
        }
        i{
            min-width: 1.25em;
            text-align: center;
            font-size: 1.3em;
            // color: rgba($border-color, 0.9);
        }
        ul{
            border: 2px solid rgba($border-color, 0.5);
            border-radius: .5em;
            padding: .5em;
        }
        ul:hover{
            background: rgba($border-color, 0.2);
        }
    }


    // .cake-top div:last-child,
    // .cake-side div:last-child,
    // .cake-filling div:last-child{

    //     padding: 0 0 0 1em;
    //     box-sizing: border-box;

    //     span{
    //         padding: .25em 0;
    //     }
    // }
    //     img{
    //         border-radius: 1em;
    //         box-shadow: 1px 1px 4px lighten($color: $border-color, $amount: 2);
    //     }



img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



a:hover{
    font-weight: 500;
}

*.plastic{
    padding: .5em 1em;
    border-radius: .75em;
    background:  $back-color;
    box-shadow: 5px 5px 10px rgba($border-color, 0.2), -5px -5px 10px rgba(255, 255, 255, 1);
    transition: box-shadow 3;

}

*:hover.plastic{
    box-shadow: inset 4px 4px 8px rgba($border-color, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.9);
    transition: box-shadow 3s;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
    // position: relative;


    .nav-brand{
        flex: 1;
        flex-grow: 1;
        a{
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        img{
            width: 120px;
            border: none;
            box-shadow: none;
        }
    }

    .nav-menu{
        flex: 4;
        flex-grow: 4;
        display: flex;
        justify-content: center;
        z-index: 500;

        .nav-menu-list{
                // padding-top: 1rem;
                display: flex;
                // flex-direction: column;

                a{
                    padding: .5rem 1.5rem;
                    font-weight: 700;
                }
            }


    }

    .user-icon,
    .nav-icon{
        font-size: 1.5em;
        cursor: pointer;
        color: $text-color;
        display: none;
    }

    .user-icon:hover,
    .nav-icon:hover{
        color: $pink-color;
        transition: all .5s ease;
    }

    .nav-users{
        display: flex;
        flex: 1;
        flex-grow: 1;
        justify-content: flex-end;
        z-index: 500;

        .user-icon{
            display: none;
        }

        .fa-user{
            margin-right: .5rem;
        }
    }

    // .nav-icon{
    //     color: $pink-color;
    //     margin-left: 1rem;
    //     display: none;
    // }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;

    }
    ul>li{
        // height: 20px;
        // width: 100px;
        padding: .5em 1em;
        justify-content: space-around;
        box-sizing: border-box;

    }
    ul>li:hover{
        // color: rgb(184, 31, 11);
        // border-bottom: $border-color 1px solid;

    }



    a, a:visited{
        text-decoration: none;
        color: $text-color;
        font-family:$font-family-sans-serif;
        font-size: 0.9em;
        //   padding: .5em 2em;
        //   font-weight: 500;
        }

    .dropdown {
        position: relative;
        display: inline-block;

    }
    .dropdown-content{
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba($border-color, 0.5);

        .dropdown-content-body {
            position: fixed;
            background-color: #f9f9f9;
            min-width: 24em;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 100;
            align-self: center;

            ul{
                flex-direction: row;
            }
            input{
                padding: .5em .74em;
                margin: .5em .5em 0 0;
                outline: none;
                border-radius: .25em;
                box-shadow: inset 0 0 0 transparent;
                color: #495057;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                // max-width: 80%;
                // width: 100%;
                transition: all 1s ease-in-out;
            }
        }

        .close{
            position: absolute;
            right: 1em;
            top: 1em;
            font-size: 1.2em;
            cursor: pointer;
        }

    }

    .login-selector,
    .registration-selector{
        padding: .75em .75em .25em .75em;
        margin: 0 1em;
        color: rgba($text-color, 0.5);
        cursor: pointer;
    }

    .login-selector:hover,
    .registration-selector:hover{
        background-color: rgba($border-color, 0.2);
        // color: rgba($text-color, 0.5);
    }

    a.active{
        font-weight: 600;
        color: $pink-color;
        border-bottom: 2px solid rgba($pink-color, 0.5);
    }
    .login-item,
    .registration-item{
        display: none;
    }
    .dropdown-open {
        display: flex;
        flex-direction: column;
    }


    .menu-user__item{
        position: relative;

    }
    .menu-user{
        cursor: pointer;

    }
    .menu-user-content{
        display: none;
        position: absolute;
        right: 0;
        // margin: 1em .5em 0 0;
        min-width: 12em;
        margin: 1em 0 0 0;
        // padding: .25em;
        box-shadow: 0px 2px 6px rgba($border-color, 0.5);
        border-radius: .25em;
        background-color: $back-color;

        // display: flex;
        flex-direction: column;

        

        a{
            margin: 0.4rem;
            padding: 1rem;
            border-radius: .25rem;
            font-weight: 700;

            i{
            min-width: 1.25em;
            text-align: center;
        }
        }

        a:hover{
            border-radius: .25em;
            background-color: $pink-light-color;
            transition: all .5s ease;

            // a{
            //     color: $back-color;

            // }

        }
        & a:last-child{
            margin-top: 1em;
            border-top: 1px solid rgba($border-color, 0.25);
        }
    }

    // .menu-user-content{
    //     display: none;
    //     position: absolute;
    //     right: 0;
    //     margin: 1em .5em 0 0;
    //     min-width: 12em;
    //     margin: 1em 0 0 0;
    //     padding: .25em;
    //     box-shadow: 0px 2px 6px rgba($border-color, 0.5);
    //     border-radius: .25em;
    //     background-color: $back-color;

    //     i{
    //         min-width: 1.25em;
    //         text-align: center;
    //     }

    //     ul{
    //         display: block;
    //     }

    //     li:hover{
    //         border-radius: .25em;
    //         background-color: $pink-light-color;

    //         a{
    //             color: $back-color;
    //         }

    //     }
    //     ul li:last-child{
    //         margin-top: 1em;
    //         border-top: 1px solid rgba($border-color, 0.25);
    //     }
    // }

    .menu-user-content.visible{
        display: flex;
    }

    .menu-user,
    .dropdown{
        padding: .5em 1em;
        border: 1px solid rgba($pink-color, 0.8);
        border-radius: 1.1em;
        box-sizing: border-box;
        cursor: pointer;
    }

    .menu-user:hover,
    .dropdown:hover{
        background-color: rgba($pink-color, 0.8);
        border: 1px solid transparent;
        // color: $back-color;
        font-weight: 700;
    }

}


// User account

aside.user__account{
    padding: 1em;
    font-size: .8em;
    box-sizing: border-box;

    a, a:visited{
        text-decoration: none;
        color: $text-color;
    }
    a:hover{
        border-bottom: 1px solid rgba($border-color, 0.5);
        transition: all .5s ease;
    }

    ul>li{
        padding: .5em 0;
    }

    .label{
        margin-top: 1em;
        border-bottom: 1px solid rgba($border-color, 0.5);
    }

    ul li:first-child{
        margin-top: 0;
    }

    .active{
        font-weight: 700;
        a{
            color: $pink-color;
        }
    }
}

.user__account{
    padding: 1em;

    box-sizing: border-box;

    table{
        width: 100%;
        padding: 0 1em;
        margin: 1em auto;
        thead{
            background-color: rgba($pink-light-color, 0.5);

            th{
                padding: .5em 1em;
                text-align: center;
            }
        }

        tbody{

            tr{
                border-bottom: 1px solid rgba($pink-color, 0.5);
            }
            td{
                padding: .5em 1em;
                text-align: center;
            }
            tr td:first-child{
                text-align: start;
            }

            tr:nth-child(2n){
                background-color: rgba($pink-light-color, 0.2);
            }

        }
    }
}


.file{
    border: 1px solid $border-color;
    border-radius: .25em;
    width: 100%;
    position: relative;
    // max-height: 2em;
    // display: flex;
    // text-align: center;
    padding: .5em;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 transparent;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;


    label{
        margin: 0;
        span{
            font-family: $font-family-sans-serif;
            color: rgba($text-color, .6);
            // line-height: .25em;
            display: block;
        }

        @extend %fa-icon;
        @extend .fas;


        &::before{
            content: fa-content($fa-var-cloud-upload-alt);
            position: absolute;
            display: flex;
            align-items: center;
            padding: 0 .75em;
            text-align: center;
            color: $back-color;
            // width: 2em;
            height: 100%;
            top: 0;
            right: 0;
            background: $border-color;

        }
    }

    .file-input{
        width: 0.1px;
        height: 0.1px;
        visibility: hidden;
        position: absolute;

    }
    &:hover{
        cursor: pointer;
        // color: $back-color;
        // background-color:  rgba($pink-color, 0.5);
        font-weight: 700;

    }

}

.cart-modal, .checkout{
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // max-height: 10em;
    // background: #ccc;
    // overflow: auto;
    // overflow-y: scroll;

    table{
        width: 100%;
        padding: 0 1em;
        margin: 1em auto;
        thead{
            background-color: rgba($pink-light-color, 0.5);

            th{
                padding: .5em 1em;
                text-align: center;
            }
        }

        tbody{

            input{
                width: 3em;
            }
            img{
                width: 4em
            }
            tr{
                border-bottom: 1px solid rgba($pink-color, 0.5);

            }
            td{
                padding: .5em 1em;
                text-align: center;
                vertical-align: middle;
            }

            tr td:first-child{
                text-align: start;
            }

            tr:nth-child(2n){
                background-color: rgba($pink-light-color, 0.2);
            }

        }

        tfoot{
            .text-right{
                padding: .5em 0;
                text-align: end;
            }
        }
    }
}

// .cart-link{

//     .cart-count{
//         padding: .2rem .2rem;
//         border: 1px solid $pink-color;
//         border-radius: .3rem;
//         line-height: 0.6rem;
//         background: $pink-color;
//         color: white;
//         font-weight: 600;
//         margin-left: .2rem;
//         font-size: 0.5rem;
//         box-sizing: border-box;
//         position: absolute;
//         box-shadow: 1px 1px 2px grey;
//     }

//     &.no-empty .cart-count{

//     }
// }


.side-product{

    *+li{
        padding: .25em 0;
    }
    li ul{
        margin-top: .25em;
        margin-left: 1em;
    }

    a.active{
        font-weight: 700;
        color: $pink-color;
    }
}


//card for form constructor


.card{
    width: 23%;
    min-height: 25%;
    // margin: 1rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px -1px rgba($text-color, 0.5);



    .card-img img{
        width: 100%;
        display: block;
    }

    // input:checked+div::before{
    //     position: absolute;
    //     content: '';
    //     display: block;
    //     width: 4rem;
    //     height: 4rem;
    //     background: $pink-color;
    // }

    .card-body{
        position: absolute;
        top: calc(100% - 3rem);
        background: rgba($back-color, 0.9);
        height: 100%;
        width: 100%;
        transition: top .5s cubic-bezier(.7,.03,.51,1.04);

        .card-title{
            padding: 1rem;
            text-align: center;
            min-height: 3rem;
            box-sizing: border-box;

            span{
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 700;
            }
        }

        .card-content{
            min-height: calc(100% - 6rem);
            padding: .6rem 1rem;
            line-height: 1.2rem;
            border-top: 1px solid rgba($text-color, 0.1);
            border-bottom: 1px solid rgba($text-color, 0.1);
            box-sizing: border-box;
            background: rgba($back-color, 0.5);
        }

        .card-footer{
            display: flex;
            min-height: 3rem;

            .card-price,
            .card-select{
                flex: 1;
                text-align: center;
                align-self: center;
            }

            label{
                border: 2px solid $pink-color;
                background: $pink-color;
                padding: 0.2rem 1rem;
                border-radius: .25rem;
                color: $back-color;

                &:hover{
                    background: rgba($pink-color, 0.8);
                    border: 2px solid rgba($pink-color, 0.7);
                    cursor: pointer;
                }
            }


        }


    }

    &:hover .card-body{
        top: 0;
        transition: top .5s cubic-bezier(.7,.03,.51,1.04);
    }

    &.card-5{
        width: 18%;
        font-size: .9rem;


        .card-body{
            top: calc(100% - 2.4rem);
            height: 100%;

            .card-title{
                padding: .7rem;
                min-height: 2rem;

                span{
                    font-size: .9rem;
                }
            }

            .card-content{
                min-height: calc(100% - 5.1rem);
                padding: .5rem 1rem;
                line-height: .9rem;
            }

            .card-footer{
                display: flex;
                min-height: 1.8rem;
                padding: 0.5rem 0.2rem;

                label{
                    border: 1px solid $pink-color;
                    padding: 0.2rem .7rem;
                    line-height: 1rem;

                    &:hover{
                        background: rgba($pink-color, 0.8);
                    }
                }



            }
        }

        &:hover .card-body{
            top: 0;
            transition: top .5s cubic-bezier(.7,.03,.51,1.04);
        }
    }
}

.card-list{
    justify-content: space-between;
    margin-bottom: 1rem;
}

// .card-list > div{
//     margin-bottom: 1rem;
//     margin-right: 1rem;

// }
// .card-list > div:last-child{
//     margin-bottom: 1rem;
//     margin-right: 0;

// }

